<%- include('header') %>

<div class="row">
  <div class="col s12 m6 offset-m3">
    <h4 class="center-align">Consulta tu ticket</h4>
    <form action="/ticket" method="POST">
      <div class="input-field col s12">
        <input id="ticketId" type="text" name="ticketId" required>
        <label for="ticketId">ID del ticket</label>
      </div>
      <button class="btn waves-effect waves-light blue darken-4" type="submit">Consultar
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>