<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cine Boletos</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <h1>🎬 Cine Boletos</h1>
        <nav>
            <a href="/admin/peliculas">Películas</a> |
            <a href="/admin/empleados">Empleados</a> |
            <a href="/admin/funciones">Funciones</a>
        </nav>
        <hr>
    </header>
    <main>